<html lang="en">
  <head>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script src="../assets/js/bootstrap.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <!-- nav -->
    <nav class="navbar bg-white">
      <div class="container-fluid px-5 py-sm-0">
        <div class="hstack gap-3">
          <a class="navbar-brand px-2" href="/index">
            <img
              src="assets/images/logo.png"
              alt=""
              width="40"
              height="30"
              class="d-inline-block align-text-top"
            />
          </a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index"
                ><p class="text-body">Home</p></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add-project"
                ><p class="text-body">Add Project</p></a
              >
            </li>
          </ul>
        </div>
        <div class="d-flex">
          <a class="nav-link" href="/contact">
            <button class="btn btn-dark" id="btncontact" type="submit">Contact Me</button></a
          >
        </div>
      </div>
    </nav>

    <div class="container-fluid bg-light p-5">
      <div class="row">
        <h1 class="text-center mb-5 fw-bolder">DumbWays Web App - {{id}}</h1>
        <div class="col-lg-8">
          <img src="assets/images/background.png" class="img-fluid pb-5 pe-5" />
        </div>
        <div class="col-lg-4">
          <p class="fw-bolder">Duration</p>
          <div class="row row-col justify-content-sm-start">
            <div class="col-1">
              <img
                src="assets/images/calendar.png"
                width="20"
                height="20"
                class="d-inline-block align-text-centar"
              />
            </div>
            <div class="col-11">
              <p>12 jan 2021 - 11 feb 2021</p>
            </div>
            <div class="col-1">
              <img
                src="assets/images/clock.png"
                width="20"
                height="20"
                class="d-inline-block align-text-centar"
              />
            </div>
            <div class="col">
              <p>1 month</p>
            </div>
          </div>
          <p class="fw-bolder mt-3">Technologies</p>
          <div class="row row-col-2">
            <div class="col-1">
              <img
                src="assets/images/bootstrap.png"
                width="20"
                height="20"
                class="d-inline-block align-text-centar"
              />
            </div>
            <div class="col-5">
              <p>bootstrap</p>
            </div>
            <div class="col-1">
              <img
                src="assets/images/javascript.png"
                width="20"
                height="20"
                class="d-inline-block align-text-centar"
              />
            </div>
            <div class="col-5">
              <p>javascript</p>
            </div>
            <div class="col-1">
              <img
                src="assets/images/nodejs.png"
                width="20"
                height="20"
                class="d-inline-block align-text-centar"
              />
            </div>
            <div class="col-5">
              <p>Node Js </p>
            </div>
            <div class="col-1">
              <img
                src="assets/images/html5.png"
                width="20"
                height="20"
                class="d-inline-block align-text-centar"
              />
            </div>
            <div class="col-5">
              <p>HTML 5S</p>
            </div>
            </div>

          </div>
        </div>     
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cum
          vel veniam, a debitis voluptatibus iure ipsam tempore delectus
          necessitatibus tenetur culpa totam porro expedita quae eius? Recusandae,
          iusto itaque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Maxime mollitia, molestiae quas vel sint commodi repudiandae
          consequuntur voluptatum laborum numquam blanditiis harum quisquam eius
          sed odit fugiat iusto fuga praesentium optio, eaque rerum! Provident
          similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius
          earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid
          culpa officia aut! Impedit sit sunt quaerat, odit, tenetur error, harum
          nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo neque
          error repudiandae fuga? Ipsa laudantium molestias eos sapiente officiis
          modi at sunt excepturi expedita sint? Sed quibusdam recusandae alias
          error harum maxime adipisci amet laborum. Perspiciatis minima nesciunt
          dolorem! Officiis iure rerum voluptates a cumque velit quibusdam sed
          amet tempora. Sit laborum ab, eius fugit doloribus tenetur fugiat,
          temporibus enim commodi iusto libero magni deleniti quod quam
          consequuntur! Commodi minima excepturi repudiandae velit hic maxime
          doloremque. Quaerat provident commodi consectetur veniam similique ad
          earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo
          fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores
          labore suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto
          ab laudantium modi minima sunt esse temporibus sint culpa, recusandae
          aliquam numquam totam ratione voluptas quod exercitationem fuga.
          Possimus quis earum veniam quasi aliquam eligendi, placeat qui corporis!
        </p></div>
      
    </div>
  </body>
</html>
